# Generic Deployment Variables
POSTGRES_USER=your-postgres-user
POSTGRES_PASSWORD=your-postgres-password
POSTGRES_DB=your-local-database-name

# Local Deployment Variables
POSTGRES_HOST_LOCAL=localhost
POSTGRES_PORT_LOCAL=5433

# Docker Deployment Variables
POSTGRES_HOST_DOCKER=postgres
POSTGRES_PORT_DOCKER=5432

# Railway Deployment Variables
POSTGRES_HOST_RAILWAY=your-railway-host
POSTGRES_PORT_RAILWAY=your-railway-port
POSTGRES_USER_RAILWAY=your-railway-user
POSTGRES_PASSWORD_RAILWAY=your-railway-password
POSTGRES_RAILWAY_DB=your-railway-database-name

# GraphQL endpoint for localization service
LOCALIZATION_GRAPHQL_ENDPOINT=http://localhost:8080/graphql

# FreecurrencyAPI Key
FREECURRENCY_API_KEY=your-freecurrency-api-key
FREECURRENCY_API_URL_HOST=https://api.freecurrencyapi.com/v1/latest?apikey=
